.App {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #150F1E;
  /* background-image: url("./assets/stars.gif"); */
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(2,0,36,1) 42%, rgba(64,14,83,1) 100%, rgba(24,120,155,1) 100%);
}

h1, h2, h2, h4, h5 {
  padding: 0;
  margin: 0;
}

.main-container {
  padding: 150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
